@use '../base/mixins' as *;

.profile {
  &-header {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    @include mq(tablet) {
      flex-direction: row;
      margin-top: 0;
      align-items: normal;
      gap: 10rem;
    }

    &-image {
      width: 300px;
      height: 300px;
      margin-bottom: 4rem;
      border: 4px solid var(--blue);
      border-radius: 50%;

      @include mq(tablet) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0.4rem;
        border-radius: 50%;
      }

      input {
        margin: auto;
        margin-top: 2rem;
      }
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-course {
    margin-top: 8rem;
  }
}

// Update the profile page
.modal {
  position: fixed;
  inset: 0;
  height: 100svh;
  display: grid;
  align-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;

  &-container {
    margin: 0 2rem;
    position: relative;
    padding: 2rem;
    background-color: var(--background);
    border-radius: 15px;

    @include mq(tablet) {
      max-width: 72.8rem;
      width: 100%;
      margin: auto;
    }
  }

  &-button {
    position: absolute;
    top: 2rem;
    right: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &-form {
    margin-top: 4rem;
  }
}

