.profile {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }

  &-content {
    display: flex;
    gap: 10rem;

    &-image {
      width: 260px;

      img {
        height: fit-content;
      }
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
